# Database dumps
*.sql

# Environment / secrets
.env
.env.*

# User uploads (keep empty folders)
uploads/*
!uploads/.gitkeep
!uploads/chapters/
uploads/chapters/*
!uploads/chapters/.gitkeep



# Dependencies
node_modules/
vendor/

# Logs and caches
*.log
*.cache
.cache/

# OS / editor
.DS_Store
Thumbs.db
Desktop.ini
.idea/
.vscode/
*.swp
*.swo
